In [3]:
import pandas as pd
NOAA = pd.read_csv("PrecipData.csv")
RC = pd.read_table('RaccoonCreekFlowData.txt', skiprows=31)

print(NOAA)

print(RC)

                 Record of Climatological Observations   Unnamed: 1  \
0    US Department of Commerce: National Oceanic & ...          NaN
1                                     Current Location          NaN
2                                              Station          NaN
3                                                  NaN          NaN
4                                                 Date  Precip (in)
5                                               8/1/17            0
6                                               8/2/17            0
7                                               8/3/17         0.06
8                                               8/4/17         0.04
9                                               8/5/17         0.01
10                                              8/6/17            0
11                                              8/7/17         0.07
12                                              8/8/17         0.18
13                                              8/9/17            0
14                                             8/10/17            0
15                                             8/11/17         0.09
16                                             8/12/17          0.2
17                                             8/13/17            0
18                                             8/14/17            0
19                                             8/15/17            0
20                                             8/16/17         0.01
21                                             8/17/17            0
22                                             8/18/17         0.45
23                                             8/19/17         0.01
24                                             8/20/17          NaN
25                                             8/21/17          NaN
26                                             8/22/17            0
27                                             8/23/17         0.35
28                                             8/24/17            0
29                                             8/25/17            0
..                                                 ...          ...
341                                             7/3/18         0.05
342                                             7/4/18         0.34
343                                             7/5/18         0.04
344                                             7/6/18            0
345                                             7/7/18            0
346                                             7/8/18            0
347                                             7/9/18            0
348                                            7/10/18            0
349                                            7/11/18         0.01
350                                            7/12/18            0
351                                            7/13/18            0
352                                            7/14/18            0
353                                            7/15/18            0
354                                            7/16/18            0
355                                            7/17/18         1.25
356                                            7/18/18            0
357                                            7/19/18            0
358                                            7/20/18            0
359                                            7/21/18         0.71
360                                            7/22/18         0.15
361                                            7/23/18         0.01
362                                            7/24/18         2.34
363                                            7/25/18         0.01
364                                            7/26/18            0
365                                            7/27/18         0.31
366                                            7/28/18            0
367                                            7/29/18            0
368                                            7/30/18         0.07
369                                            7/31/18          NaN
370                                                NaN          NaN

                             Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0                                   NaN        NaN        NaN        NaN
1                                  Elev    955 ft.        Lat   40.0639N
2    Columbus 8.2 NE, OH US US1OHFR0046        NaN        NaN        NaN
3                                   NaN        NaN        NaN        NaN
4                                   NaN        NaN        NaN        NaN
5                                   NaN        NaN        NaN        NaN
6                                   NaN        NaN        NaN        NaN
7                                   NaN        NaN        NaN        NaN
8                                   NaN        NaN        NaN        NaN
9                                   NaN        NaN        NaN        NaN
10                                  NaN        NaN        NaN        NaN
11                                  NaN        NaN        NaN        NaN
12                                  NaN        NaN        NaN        NaN
13                                  NaN        NaN        NaN        NaN
14                                  NaN        NaN        NaN        NaN
15                                  NaN        NaN        NaN        NaN
16                                  NaN        NaN        NaN        NaN
17                                  NaN        NaN        NaN        NaN
18                                  NaN        NaN        NaN        NaN
19                                  NaN        NaN        NaN        NaN
20                                  NaN        NaN        NaN        NaN
21                                  NaN        NaN        NaN        NaN
22                                  NaN        NaN        NaN        NaN
23                                  NaN        NaN        NaN        NaN
24                                  NaN        NaN        NaN        NaN
25                                  NaN        NaN        NaN        NaN
26                                  NaN        NaN        NaN        NaN
27                                  NaN        NaN        NaN        NaN
28                                  NaN        NaN        NaN        NaN
29                                  NaN        NaN        NaN        NaN
..                                  ...        ...        ...        ...
341                                 NaN        NaN        NaN        NaN
342                                 NaN        NaN        NaN        NaN
343                                 NaN        NaN        NaN        NaN
344                                 NaN        NaN        NaN        NaN
345                                 NaN        NaN        NaN        NaN
346                                 NaN        NaN        NaN        NaN
347                                 NaN        NaN        NaN        NaN
348                                 NaN        NaN        NaN        NaN
349                                 NaN        NaN        NaN        NaN
350                                 NaN        NaN        NaN        NaN
351                                 NaN        NaN        NaN        NaN
352                                 NaN        NaN        NaN        NaN
353                                 NaN        NaN        NaN        NaN
354                                 NaN        NaN        NaN        NaN
355                                 NaN        NaN        NaN        NaN
356                                 NaN        NaN        NaN        NaN
357                                 NaN        NaN        NaN        NaN
358                                 NaN        NaN        NaN        NaN
359                                 NaN        NaN        NaN        NaN
360                                 NaN        NaN        NaN        NaN
361                                 NaN        NaN        NaN        NaN
362                                 NaN        NaN        NaN        NaN
363                                 NaN        NaN        NaN        NaN
364                                 NaN        NaN        NaN        NaN
365                                 NaN        NaN        NaN        NaN
366                                 NaN        NaN        NaN        NaN
367                                 NaN        NaN        NaN        NaN
368                                 NaN        NaN        NaN        NaN
369                                 NaN        NaN        NaN        NaN
370                                 NaN        NaN        NaN        NaN

    Unnamed: 6 Unnamed: 7
0          NaN        NaN
1         Long  -82.8673W
2          NaN        NaN
3          NaN        NaN
4          NaN        NaN
5          NaN        NaN
6          NaN        NaN
7          NaN        NaN
8          NaN        NaN
9          NaN        NaN
10         NaN        NaN
11         NaN        NaN
12         NaN        NaN
13         NaN        NaN
14         NaN        NaN
15         NaN        NaN
16         NaN        NaN
17         NaN        NaN
18         NaN        NaN
19         NaN        NaN
20         NaN        NaN
21         NaN        NaN
22         NaN        NaN
23         NaN        NaN
24         NaN        NaN
25         NaN        NaN
26         NaN        NaN
27         NaN        NaN
28         NaN        NaN
29         NaN        NaN
..         ...        ...
341        NaN        NaN
342        NaN        NaN
343        NaN        NaN
344        NaN        NaN
345        NaN        NaN
346        NaN        NaN
347        NaN        NaN
348        NaN        NaN
349        NaN        NaN
350        NaN        NaN
351        NaN        NaN
352        NaN        NaN
353        NaN        NaN
354        NaN        NaN
355        NaN        NaN
356        NaN        NaN
357        NaN        NaN
358        NaN        NaN
359        NaN        NaN
360        NaN        NaN
361        NaN        NaN
362        NaN        NaN
363        NaN        NaN
364        NaN        NaN
365        NaN        NaN
366        NaN        NaN
367        NaN        NaN
368        NaN        NaN
369        NaN        NaN
370        NaN        NaN

[371 rows x 8 columns]
      agency_cd  site_no          datetime tz_cd  110246_00065  \
0          USGS  3145483  2017-08-01 00:00   EDT           NaN
1          USGS  3145483  2017-08-01 00:15   EDT           NaN
2          USGS  3145483  2017-08-01 00:30   EDT           NaN
3          USGS  3145483  2017-08-01 00:45   EDT           NaN
4          USGS  3145483  2017-08-01 01:00   EDT           NaN
5          USGS  3145483  2017-08-01 01:15   EDT           NaN
6          USGS  3145483  2017-08-01 01:30   EDT           NaN
7          USGS  3145483  2017-08-01 01:45   EDT           NaN
8          USGS  3145483  2017-08-01 02:00   EDT           NaN
9          USGS  3145483  2017-08-01 02:15   EDT           NaN
10         USGS  3145483  2017-08-01 02:30   EDT           NaN
11         USGS  3145483  2017-08-01 02:45   EDT           NaN
12         USGS  3145483  2017-08-01 03:00   EDT           NaN
13         USGS  3145483  2017-08-01 03:15   EDT           NaN
14         USGS  3145483  2017-08-01 03:30   EDT           NaN
15         USGS  3145483  2017-08-01 03:45   EDT           NaN
16         USGS  3145483  2017-08-01 04:00   EDT           NaN
17         USGS  3145483  2017-08-01 04:15   EDT           NaN
18         USGS  3145483  2017-08-01 04:30   EDT           NaN
19         USGS  3145483  2017-08-01 04:45   EDT           NaN
20         USGS  3145483  2017-08-01 05:00   EDT           NaN
21         USGS  3145483  2017-08-01 05:15   EDT           NaN
22         USGS  3145483  2017-08-01 05:30   EDT           NaN
23         USGS  3145483  2017-08-01 05:45   EDT           NaN
24         USGS  3145483  2017-08-01 06:00   EDT           NaN
25         USGS  3145483  2017-08-01 06:15   EDT           NaN
26         USGS  3145483  2017-08-01 06:30   EDT           NaN
27         USGS  3145483  2017-08-01 06:45   EDT           NaN
28         USGS  3145483  2017-08-01 07:00   EDT           NaN
29         USGS  3145483  2017-08-01 07:15   EDT           NaN
...         ...      ...               ...   ...           ...
34719      USGS  3145483  2018-08-01 16:30   EDT          3.33
34720      USGS  3145483  2018-08-01 16:45   EDT          3.33
34721      USGS  3145483  2018-08-01 17:00   EDT          3.33
34722      USGS  3145483  2018-08-01 17:15   EDT          3.33
34723      USGS  3145483  2018-08-01 17:30   EDT          3.33
34724      USGS  3145483  2018-08-01 17:45   EDT          3.33
34725      USGS  3145483  2018-08-01 18:00   EDT          3.33
34726      USGS  3145483  2018-08-01 18:15   EDT          3.32
34727      USGS  3145483  2018-08-01 18:30   EDT          3.32
34728      USGS  3145483  2018-08-01 18:45   EDT          3.32
34729      USGS  3145483  2018-08-01 19:00   EDT          3.32
34730      USGS  3145483  2018-08-01 19:15   EDT          3.32
34731      USGS  3145483  2018-08-01 19:30   EDT          3.32
34732      USGS  3145483  2018-08-01 19:45   EDT          3.32
34733      USGS  3145483  2018-08-01 20:00   EDT          3.32
34734      USGS  3145483  2018-08-01 20:15   EDT          3.32
34735      USGS  3145483  2018-08-01 20:30   EDT          3.32
34736      USGS  3145483  2018-08-01 20:45   EDT          3.32
34737      USGS  3145483  2018-08-01 21:00   EDT          3.31
34738      USGS  3145483  2018-08-01 21:15   EDT          3.31
34739      USGS  3145483  2018-08-01 21:30   EDT          3.31
34740      USGS  3145483  2018-08-01 21:45   EDT          3.31
34741      USGS  3145483  2018-08-01 22:00   EDT          3.31
34742      USGS  3145483  2018-08-01 22:15   EDT          3.31
34743      USGS  3145483  2018-08-01 22:30   EDT          3.31
34744      USGS  3145483  2018-08-01 22:45   EDT          3.31
34745      USGS  3145483  2018-08-01 23:00   EDT          3.31
34746      USGS  3145483  2018-08-01 23:15   EDT          3.31
34747      USGS  3145483  2018-08-01 23:30   EDT          3.31
34748      USGS  3145483  2018-08-01 23:45   EDT          3.30

      110246_00065_cd  110247_00060 110247_00060_cd 110248_00045  \
0                 NaN          16.4               A          NaN
1                 NaN          16.4               A          NaN
2                 NaN          16.4               A          NaN
3                 NaN          16.4               A          NaN
4                 NaN          16.4               A          NaN
5                 NaN          16.4               A          NaN
6                 NaN          16.4               A          NaN
7                 NaN          16.4               A          NaN
8                 NaN          16.4               A          NaN
9                 NaN          16.4               A          NaN
10                NaN          16.4               A          NaN
11                NaN          16.4               A          NaN
12                NaN          16.4               A          NaN
13                NaN          16.4               A          NaN
14                NaN          16.4               A          NaN
15                NaN          16.4               A          NaN
16                NaN          16.4               A          NaN
17                NaN          16.4               A          NaN
18                NaN          16.4               A          NaN
19                NaN          16.4               A          NaN
20                NaN          16.4               A          NaN
21                NaN          16.4               A          NaN
22                NaN          16.4               A          NaN
23                NaN          16.4               A          NaN
24                NaN          16.4               A          NaN
25                NaN          16.4               A          NaN
26                NaN          16.4               A          NaN
27                NaN          16.4               A          NaN
28                NaN          16.4               A          NaN
29                NaN          16.4               A          NaN
...               ...           ...             ...          ...
34719               P          19.7               P          Eqp
34720               P          19.7               P          Eqp
34721               P          19.7               P          Eqp
34722               P          19.7               P          Eqp
34723               P          19.7               P          Eqp
34724               P          19.7               P          Eqp
34725               P          19.7               P          Eqp
34726               P          19.0               P          Eqp
34727               P          19.0               P          Eqp
34728               P          19.0               P          Eqp
34729               P          19.0               P          Eqp
34730               P          19.0               P          Eqp
34731               P          19.0               P          Eqp
34732               P          19.0               P          Eqp
34733               P          19.0               P          Eqp
34734               P          19.0               P          Eqp
34735               P          19.0               P          Eqp
34736               P          19.0               P          Eqp
34737               P          18.3               P          Eqp
34738               P          18.3               P          Eqp
34739               P          18.3               P          Eqp
34740               P          18.3               P          Eqp
34741               P          18.3               P          Eqp
34742               P          18.3               P          Eqp
34743               P          18.3               P          Eqp
34744               P          18.3               P          Eqp
34745               P          18.3               P          Eqp
34746               P          18.3               P          Eqp
34747               P          18.3               P          Eqp
34748               P          17.7               P          Eqp

      110248_00045_cd
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14                NaN
15                NaN
16                NaN
17                NaN
18                NaN
19                NaN
20                NaN
21                NaN
22                NaN
23                NaN
24                NaN
25                NaN
26                NaN
27                NaN
28                NaN
29                NaN
...               ...
34719               P
34720               P
34721               P
34722               P
34723               P
34724               P
34725               P
34726               P
34727               P
34728               P
34729               P
34730               P
34731               P
34732               P
34733               P
34734               P
34735               P
34736               P
34737               P
34738               P
34739               P
34740               P
34741               P
34742               P
34743               P
34744               P
34745               P
34746               P
34747               P
34748               P

[34749 rows x 10 columns]

# Requirements:

### 1) - Appropriate reading of data files

### 2) - Appropriate use of data structures to store info

### 3) - Appropriate operations to manipulate data to uncover data story

### 4) - Using appropriate python procedures to perform data manipulations efficently

### 5) - Attention to missing data values

### 6) - Adhereance to Tidy Data format

### 7) Demonstrating good python programming skills

### 8) - Creation of of quality visual products to illustrate the data

# Background Research:
### 1) - Where is Raccoon Creek? 

### 2) - What is Raccoon Creek watershed?

### 3) - What is the nature of the creek (size, length, depth, etc.)

### 4) - Where are the sensors that record the data 

### 5) - Who own and maintains these sensors 

### 6) - Where is the data publicly available?

### 7) - What are the measurements that are being provided in the data story? 

### 8) - How can you explain or relate these measurements to non-technical (non geoscience) people?

### 9) - How will you set the background in your notebook story? 

### 10) - What grpahics might  you include in your story?

# Writing Quality:
### 1) - What is your thesis? (won't know until complete investigation)

### 2) - What single compelling discovery drives the data story?

### 3) - How will you communicate your thesis in the notebook format?

### 4) - Who is your audience?

### 5) - Who will read this?

### 6) - What diversity can you expect in their backgrounds and levels of expertise? (These ppl will not know anything about the assignment)

### 7) - What structure will you use to tell your data story using the notebook format to present this story?

### 8) - Style - transition smoothly

### 9) - Writing center